:root {
  --space-small: 1rem;
  --space-medium: 2rem;
  --space-large: 3rem;
  --font-small: 18px;
  --font-medium: 26px;
  --font-large: 38px;
  --font-bold: 600;
  --icon-extra-large: 120px;
  --icon-large: 80px;
  --icon-medium: 50px;
  --icon-small: 30px;
  --font-light: #eee;
  --font-dark: #333;
  --background-light: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  color: var(--font-dark);
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: whitesmoke;
}

header {
  height: 10vh;
  padding: 0 var(--space-small);
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
}

header > p {
  color: var(--font-light);
  font-size: var(--font-large);
  font-weight: bold;
}

.content {
  width: 100%;
  height: 85vh;
}

.cell {
  border: 1px solid var(--font-dark);
  width: 2rem;
  height: 2rem;
}

.board.computer > .cell:hover {
  background-color: lightgrey;
}

.cell.filled {
  background-color: lightgreen;
}

/* .computer > .cell.filled {
  background-color: whitesmoke;
} */

.cell.filled.hit {
  background-color: lightcoral;
}

.cell.miss {
  background-color: lightblue;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: 1px solid var(--font-dark);
}

.game-board {
  gap: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

footer > p {
  color: var(--font-light);
}
